
* {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #454343;
  margin: 30px auto;
  padding: 0 16px;
  max-width: 800px;
}

h1 {color: rgb(141, 57, 110);
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {color: rgb(254, 202, 202);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 10px;
}

ul, ol {
  font-size: 15px;
  line-height: 2;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  border: 3px solid #1d4ed8;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

th {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
  border: 1px solid #555;
}

td {
  padding: 10px;
  border: 1px solid #aaa;
}

div {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

hr {
  margin: 10px 0;
  border: 1px solid #ccc;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
    border: 4px solid rgb(5, 46, 117);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .profile-photo {
        width: 120px;
        height: 120px;
    }
}